#System Aliases

alias mv="mv -i"
alias cp="cp -i"
alias install="sudo apt-fast install"
alias lt="ls -alF"
alias clr="clear"
alias tlp="sudo tlp start"
alias logo="neofetch"
alias update="sudo apt update"
alias upgrade="sudo apt upgrade"
alias nzsh="sudo nano ~/.zshrc"
alias szsh="source ~/.zshrc"
alias trybe="cd ~/Documents/projects/trybe"
alias personal="cd ~/Documents/projects/personal"

#Files associations

alias -s txt=code
alias -s md=code
alias -s html=code
alias -s js=code
alias -s py=code

#NPM Aliases

alias ns='npm start'
alias nr='npm run'
alias ni='npm install'
alias nid='npm install -D'
alias nis='npm install --save'

#React Aliases

alias airbnb='exec 3<&1;bash <&3 <(curl https://raw.githubusercontent.com/Hfreitas/eslint-prettier-airbnb-react/personal-use/eslint-prettier-config.sh 2> /dev/null)'
alias reactprop='npm i prop-types'
alias reactrouter='npm i react-router-dom'
alias reactredux='npm i redux react-redux redux-thunk'
alias reactrm='rm -rf public/logo192.png public/logo512.png public/favicon.ico src/logo.svg'

#mySQL aliases

alias mystart='systemctl start mysql'
alias mystop='systemctl stop mysql'
alias myacess='mysql -u root -p'
alias mystatus='systemctl status mysql'

# MongoDB aliases

alias mongostart='sudo mongod start'
alias mongostop='sudo mongod stop'
alias mongorestart='sudo mongod restart'
alias mongostatus='sudo service mongod status'
#Docker aliases

alias dstart='sudo systemctl start docker'
alias dstop='sudo systemctl stop docker'

# Dotfiles management alias

alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
