#System Aliases

alias install="sudo apt-fast install"
alias lt="ls -alF"
alias clr="clear"
alias tlp="sudo tlp start"
alias logo="neofetch"
alias update="sudo apt update"
alias upgrade="sudo apt upgrade"
alias nzsh="sudo nano ~/.zshrc"

#Files associations

alias -s txt=code
alias -s md=code
alias -s html=code
alias -s js=code
alias -s py=code

#NPM Aliases
alias nr='npm run'
alias ni='npm install'
alias niD='npm install -D'
alias niS='npm instal --save'
alias airbnb='exec 3<&1;bash <&3 <(curl https://raw.githubusercontent.com/paulolramos/eslint-prettier-airbnb-react/master/eslint-prettier-config.sh 2> /dev/null)'

#Dotfiles alias
alias config='/usr/bin/git --git-dir=/home/hfreitas/.cfg/ --work-tree=/home/hfreitas'
