#NVM Variables
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This load>

#Pyenv Variables
export PATH="$HOME/.pyenv/bin:$PATH"
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

#pipx variables
# Created by `userpath` on 2020-04-21 04:18:41
export PATH="$PATH:/home/hfreitas/.local/bin"
eval "$(register-python-argcomplete pipx)"
